*{
    margin: 0;
    padding: 0;
}

.info{
    background-color: #d60909b2;
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.info1{
    background-color: rgba(104, 143, 155, 0.774);
    height: 50px;
    margin-left: 200px;
    margin-right: 450px;
    
}

.info h2 {
    text-transform:capitalize;
    color: white;
}

.info1 h1 {
    text-transform:capitalize;
    color: white;
}

p{
    margin-left: 200px;
    text-transform: capitalize;
}
.message{
    margin-top: 40px;
    margin-right: 200px;
}

.message div{
    margin-top: 80px;
}