* {
    margin: 0;
    padding: 0;
}

body {}

.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}


.logo {
    width: 100px;

}

nav ul {
    display: none;
    flex-direction: column;

}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-left: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
}


nav a:hover {
    background-color: gray;
    color: goldenrod;

}

.button-li {
    padding: 10px;
    background-color: goldenrod;
    display: none;
    border-radius: 8px;
    margin: 5px 0px 5px 5px;

}

.button-li li {
    list-style: none;
    text-transform: uppercase;
}


.nav-input {
    display: none;
}


.nav-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}

.nav-icon {
    top: -55px;
    margin-right: 20px;

}


/*nav toogle for toggle*/

.header .nav-toggle .nav-icon {
    display: block;
    background-color: gray;
    width: 20px;
    height: 2px;
    position: relative;
}

.header .nav-toggle .nav-icon::before {
    content: '';
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;

}

.header .nav-toggle .nav-icon::after {
    content: '';
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;

}

.header .nav-input:checked~nav ul,
.header .nav-input:checked~nav .button-li {
    display: flex;
}




.header .nav-input:checked~.nav-toggle .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .nav-input:checked~.nav-toggle .nav-icon::after {
    transform: rotate(45deg);
    top: 0;

}

.header .nav-input:checked~.nav-toggle .nav-icon {
    background-color: transparent;

}




/* styling main area imdex.html*/


.index-main-body {
    display: flex;
    flex-direction: column;
  



}


.index-banner {
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url('vid/banners6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
   



}

.index-banner h1 {
    font-family: sans-serif;
    font-weight: 900;
    color: goldenrod;
    padding-left: 20px;
    font-size: 60px;
    text-shadow: 4px 4px 10px black;
    text-transform: uppercase;

}


.btn-ms{
    border-radius: 8px;
    font-size: 24px;
    background-color: goldenrod;
    margin: 40px 22px;
    
}

.btn-ms li{
    list-style: none;
    text-transform: uppercase;
    
}

.btn-ms a{
    padding: 10px;
    
    text-decoration: none;
    color: #111

}






.service-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;

}


.con-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 30%;
    margin: 0% 5%;
    background-color: whitesmoke;
    box-shadow: 5px 3px 8px;

}

.con-div h1 {
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button-1 {
    background-color: goldenrod;
    font-size: 24px;
    padding: 10px;
    border-radius: 12px 10px 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;

}






@media screen and (min-width:600px) {
    .header {
        display: flex;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 20px 5px;
    }



    .nav-toggle {
        display: none;
    }

    .button-li {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;


    }


    .button-li li a {
        padding: 0;
        font-size: 16px;
        color: black;
    }

    .button-div {
        display: flex;
        justify-content: center;

    }

    .logo {
        width: 150px;

    }

    nav ul {
        display: flex;
        flex-direction: row;

    }

    .index-banner {
        width: 100%;
        height: calc(100vh - 290px);
        background-image: url('vid/banners6.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }


    .service-div {
        height:100vh;
        justify-content: space-around;
    }
    


    .con-div {
        margin: 0 auto;
        width: 60%;
        height: 30%;
        background-color: whitesmoke;
        box-shadow: 5px 3px 8px;
    
    }

    .con-div h1 {
        padding-top: 10px;
        font-size: 40px;
        font-weight: 900;
        
    
    }


}




@media screen and (min-width:1000px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        width: 200px;

    }


    nav {
        display: flex;
        margin-left: -40px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav a {
        font-size: 18px;
        text-decoration: none;
        color: white;
        display: block;
        padding: 20px 5px;
    }

    .button-li {
        margin-left: 10px;
        cursor: pointer;

    }


    .button-li li a {
        padding-top: 7px;
        font-size: 16px;
        color: black;
    }

    .button-div {
        justify-content: end;

    }


    .index-main-body {
        display: flex;
        align-items: center;

    }

    .index-banner {
        width: 100%;
        height: calc(100vh - 290px);
        background-image: url('vid/banners6.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }



    .index-banner h1 {
        margin-left: 10.24%;
    }

    
    .btn-m{
        margin-left: 10.24%;
      
    }

    .btn-m a{
        padding: 20px;
        margin: 20px;
    }


    .service-div {
        width: 80%;
        height: 70vh;
        flex-direction: row;
        align-items: center;
        justify-content: initial;
        margin: 0px 10%;
       
     
    }

    
    .con-div {
        max-width: 400px;
        width: 250px;
        height: 60%;
        background-color: whitesmoke;
        box-shadow: 5px 3px 8px;
        justify-content: space-between;
        padding: 0px 10px;
    
    }

    .con-div2{
     
    }



    

    
   




}